.copyright-2023-medimatchcom,
.design-by-tk {
  position: relative;
  line-height: 28px;
}
.design-by-tk {
  text-align: right;
}
.line-box-end-footer,
.supervised-by-drserin {
  position: absolute;
  font-size: var(--body-large-semibold-size);
}
.line-box-end-footer {
  width: calc(100% - 297px);
  top: 335px;
  right: 156px;
  left: 141px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  height: 59px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30.5px 0;
  gap: 612px;
}
.supervised-by-drserin {
  top: 307px;
  left: 606px;
  line-height: 28px;
  text-align: right;
}
.footer-address-text,
.footer-email-text,
.footer-phone-text {
  position: absolute;
  top: 112px;
  left: 141px;
  line-height: 28px;
  font-family: var(--font-roboto);
}
.footer-email-text,
.footer-phone-text {
  top: 212px;
  left: 239px;
  white-space: pre-wrap;
}
.footer-email-text {
  top: 163px;
  left: 141px;
}
.logo-vector-box,
.logo-vector-icon {
  position: absolute;
  height: 42.96%;
  width: 13.46%;
  top: 32.39%;
  right: 74.21%;
  bottom: 24.65%;
  left: 12.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo-vector-icon {
  height: 20.7%;
  width: 6.36%;
  top: 43.1%;
  right: 77.94%;
  bottom: 36.2%;
  left: 15.7%;
}
.match {
  color: var(--primary);
}
.medimatch {
  position: absolute;
  top: 28.17%;
  left: 29.78%;
  letter-spacing: 0.02em;
}
.logo-vector-box-parent {
  position: absolute;
  top: 20px;
  left: 116px;
  width: 228px;
  height: 71px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: #fdfeff;
}
.footer {
  position: absolute;
  top: 2466px;
  left: calc(50% - 720px);
  background-color: var(--color-darkslateblue-100);
  width: 1440px;
  height: 424px;
}
.services-light-blue-background {
  position: absolute;
  top: 0;
  left: calc(50% - 644.5px);
  background: linear-gradient(81deg, #e7f0ff, rgba(232, 241, 255, 0.47));
  width: 1289px;
  height: 477.6px;
}
.white-background-medication {
  position: absolute;
  top: 183px;
  left: 122px;
  box-shadow: 0 34px 44px rgba(213, 219, 228, 0.44);
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 240.2px;
  height: 180px;
  overflow: hidden;
}
.group-icon,
.medication-text {
  width: 70px;
  position: relative;
  height: 70px;
}
.medication-text {
  width: 121px;
  line-height: 27px;
  font-weight: 500;
  display: inline-block;
  height: 36px;
  flex-shrink: 0;
}
.medication-box {
  position: absolute;
  top: 205px;
  left: 181px;
  width: 122.3px;
  height: 126px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.icon-dosage-box {
  width: 80px;
  position: relative;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
}
.dosage-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.white-background-dosage,
.white-background-lifestyle {
  position: absolute;
  top: 183px;
  box-shadow: 0 34px 44px rgba(213, 219, 228, 0.44);
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 240.2px;
  height: 180px;
  overflow: hidden;
}
.white-background-dosage {
  left: 515px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 22px var(--padding-51xl);
  box-sizing: border-box;
}
.white-background-lifestyle {
  left: 894px;
}
.lifestyle-box,
.our-recommendation-services {
  position: absolute;
  display: flex;
  align-items: center;
}
.lifestyle-box {
  top: 205px;
  left: 951px;
  width: 122.3px;
  height: 136px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.our-recommendation-services {
  top: 61px;
  left: calc(50% - 427.5px);
  font-size: var(--font-size-29xl);
  line-height: 67px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
  justify-content: center;
  width: 819.9px;
}
.services-box {
  position: absolute;
  top: 872px;
  left: calc(50% - 635px);
  width: 1289px;
  height: 477.6px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--gray);
}
.our-partners-text {
  position: absolute;
  top: 808px;
  left: calc(50% - 158px);
  line-height: 67px;
  font-weight: 600;
}
.blue-point {
  position: absolute;
  top: 743px;
  left: calc(50% - 5px);
  border-radius: var(--br-8xs);
  background-color: var(--color-cornflowerblue-200);
  width: 10px;
  height: 10px;
}
.blue-circle {
  position: absolute;
  top: 735px;
  left: calc(50% - 13px);
  border-radius: 13px;
  border: 1px solid var(--color-cornflowerblue-200);
  box-sizing: border-box;
  width: 26px;
  height: 26px;
}
.tariq-khader {
  position: absolute;
  top: 419.5px;
  left: 98.3px;
  line-height: 48px;
}
.asian-male-medical-doctor-2pn {
  position: absolute;
  top: calc(50% - 167.5px);
  left: calc(50% - 158px);
  width: 316px;
  height: 365px;
  overflow: hidden;
}
.tar-img-icon {
  position: absolute;
  top: -20px;
  left: 39px;
  width: 277px;
  height: 415px;
  object-fit: cover;
}
.tar-profile {
  width: 350px;
  position: relative;
  border-radius: var(--br-231xl) var(--br-231xl) var(--br-9xs) var(--br-9xs);
  background: linear-gradient(144.2deg, #e1f3ff, #2aa7ff);
  height: 395px;
}
.rafeef-farhan {
  position: absolute;
  top: 418.5px;
  left: 92.1px;
  line-height: 48px;
}
.ref-img-box {
  position: absolute;
  top: calc(50% - 167px);
  left: calc(50% - 147.5px);
  width: 295px;
  height: 364px;
  overflow: hidden;
  object-fit: cover;
}
.ref-profile {
  width: 350px;
  position: relative;
  border-radius: var(--br-231xl) var(--br-231xl) var(--br-9xs) var(--br-9xs);
  background: linear-gradient(144.2deg, #e1f3ff, #2aa7ff);
  height: 394px;
}
.sukayna-madi {
  position: absolute;
  top: 418.5px;
  left: 90.2px;
  line-height: 48px;
}
.suk-img-box {
  position: absolute;
  top: calc(50% - 167px);
  left: calc(50% - 169px);
  width: 338px;
  height: 364px;
  overflow: hidden;
  object-fit: cover;
}
.profiles-box {
  position: absolute;
  width: calc(100% - 292px);
  top: 137px;
  right: 146px;
  left: 146px;
  height: 565px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-51xl) 15px;
  box-sizing: border-box;
  gap: 35px;
  font-size: var(--font-size-5xl);
}
.our-team-text {
  position: absolute;
  top: 70px;
  left: calc(50% - 118px);
  line-height: 67px;
  font-weight: 600;
}
.our-team-box {
  position: absolute;
  top: 1326px;
  left: calc(50% - 729px);
  width: 1442px;
  height: 819px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslateblue-100);
}
.ehs-img-icon,
.juh-img-icon,
.psut-img-icon {
  position: absolute;
  top: 2273px;
  left: 94px;
  width: 300px;
  height: 117px;
  object-fit: cover;
}
.ehs-img-icon,
.juh-img-icon {
  left: 579px;
  width: 101px;
  height: 125px;
}
.ehs-img-icon {
  top: 2282px;
  left: 915px;
  width: 175px;
  height: 99px;
}
.home-light-blue-background {
  position: absolute;
  top: 40px;
  left: 0;
  background: linear-gradient(81deg, #e7f0ff, rgba(232, 241, 255, 0.47));
  width: 1270px;
  height: 832px;
}
.doctor-img-icon {
  position: absolute;
  top: 158px;
  left: 721px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.log-in-text {
  width: 56px;
  position: relative;
  font-size: var(--body-large-semibold-size);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-family: var(--heading-4-14);
  color: var(--white);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.button-primary {
  cursor: pointer;
  border: 0;
  padding: 12px 36px;
  background-color: var(--primary);
  position: absolute;
  top: 591px;
  left: 115px;
  border-radius: var(--br-5xs);
  width: 116px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.paragraph-text {
  position: absolute;
  top: 323px;
  left: 120.9px;
  font-size: var(--heading-2-20-size);
  letter-spacing: 0.02em;
  line-height: 32px;
  color: #5c6169;
  display: inline-block;
  width: 518.2px;
  height: 121px;
}
.welcome-to {
  margin: 0;
}
.medi {
  color: var(--color-black);
}
.medimatch1 {
  margin: 0;
  font-size: 56px;
  color: var(--color-cornflowerblue-200);
}
.welcome-to-medimatch-container {
  position: absolute;
  top: 180px;
  left: 119.1px;
  letter-spacing: 0.02em;
  line-height: 68px;
  display: inline-block;
  width: 584.7px;
  font-size: 36px;
  color: var(--color-darkslateblue-200);
}
.blue-header-background-home {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-cornflowerblue-200);
  width: 1270px;
  height: 40px;
}
.header-text-home {
  position: absolute;
  top: 10px;
  left: 288px;
  font-size: var(--heading-4-14-size);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 2880px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--white);
  font-family: var(--heading-4-14);
}
